@import url('https://fonts.googleapis.com/css?family=Lilita+One|Raleway');
/*-------------------VARIABLES */

:root {

  

    /* Colors */
    --color-green: #084e3f;
    --color-red: #ff5b5e;
    --color-deep-blue: #28313b;
    --color-light-grey: #97a4b1;
    --color-mid-blue: #34495e;
    --color-almost-white: #e8eef4;
  
    /* abstract colors out */
    --main-text-color: var(--color-mid-blue);
    --strong-text-color: var(--color-deep-blue);
    --alternative-text-color: var(--color-almost-white);
    --link-color: var(--color-red);
    --border-color: var(--color-light-grey);
    
    --secondary-bg-color: var(--color-almost-white);
    --alternative-bg-color: var(--color-green);
  
    --padder: 3%;
    --spacer: 20px;
    --spacer-large: 80px;
    --transition-time: 0.3s;
  
    --font-size-site-title: 32px;
    --font-size-page-title: 40px;
    --font-size-section-title: 30px; 
    --font-size-sub-title: 24px;
    --font-size-heading-small: 16px;
   
    --area-wide: 1200px;
    --area-narrow: 800px;

    --font-heading: 'Lilita One', cursive;
  }



/*-------------------GLOBAL DEFAULTS */
*{
    box-sizing: border-box;
}

body {
color: var(--main-text-color);
font-size: 18px;
line-height: 1.8;
font-family: 'Raleway', sans-serif;

}

video {
    max-width: 100%;
}

img {
    max-width: 100%;
}

/*-------------------HEADINGS AND TYPE */
h1,
h2,
h3,
h4 {
    color: var(--strong-text-color);
    font-family: var(--font-heading);
    font-weight: normal;
}

h1 {font-size: var(--font-size-page-title);

}

h2 {
    font-size: var(--font-size-section-title)
}

h3 {
    font-size: var(--font-size-sub-title);
}

h4 {
    font-size: var(--font-size-heading-small);
}

a {
    color:var(--link-color);
}
a:hover {
    color: var(--strong-text-color);
}


/*-------------------LAYOUT */
.layout-wide {
    max-width: var(--area-wide);
    padding-left: var(--padder);
    padding-right: var(--padder);

    margin-bottom: var(--spacer-large);

    margin-left: auto;
    margin-right: auto;
}
.layout-full-width {
    margin-bottom: var(--spacer-large);
    width:100%;
}
/*-------------------HEADER */
header {
    background-color: var(--alternative-bg-color);
    padding-top: var(--spacer);

}


.logo-wrapper {
    width: 20%;
    float: left;
}
.site-title {
    width:80%;
    float: right;
    color: var(--alternative-text-color);
    font-family: var(--font-heading);
    font-size: var(--font-size-site-title);
    text-align: right;

}

header .layout-wide {
    overflow: hidden;
}
/*-------------------NAVIGATION */
/*-------------------FOOTER */
footer {
    background-color: var(--alternative-bg-color);
}
    .footer-subscribe {
background-color: var(--alternative-text-color);
padding-top: var(--spacer-large);
padding-bottom: var(--spacer-large);
text-align: center;

    }
.footer-notices {
    padding-top: var(--spacer);
    padding-bottom: var(--spacer);
    color: var(--alternative-text-color);
    text-align: center;
}
label {
    display: block;
    font-weight: bold;
}

.button {
    border-radius: 30px;
    background-color: var(--alternative-bg-color);
    font-family: var(--font-heading);
    color: var(--alternative-text-color);
    padding: var(--spacer);
    min-width: 200px;
    margin-top: var(--spacer);
    text-transform: uppercase;
    border: none;
}
/*-------------------MODULES */